<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Your existing device admin receiver -->
        <receiver
            android:name="com.example.AccelerometerApp.MyDeviceAdminReceiver"
            android:label="@string/device_admin_receiver"
            android:description="@string/device_admin_description"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
        android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.example.AccelerometerApp.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.example.AccelerometerApp.AccelerometerLockService"
            android:exported="false"
            android:foregroundServiceType="systemExempted"
            android:permission="android.permission.FOREGROUND_SERVICE">
            <intent-filter>
                <action android:name="com.example.AccelerometerApp.START_FOREGROUND_SERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>
